@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary-500: #6366f1;
  --color-primary-600: #4f46e5;
  --color-primary-700: #4338ca;
}

.prose img,
.prose video {
  @apply rounded-md shadow-md dark:shadow-slate-900 mx-auto;
}

.prose pre {
  @apply shadow-md dark:shadow-slate-900 rounded-lg p-4;
}

hr {
  @apply border-slate-300 dark:border-slate-800;
}

button, a {
  @apply outline-none focus-visible:ring-2 focus-visible:ring-indigo-500;
}
